
.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.container.tarjeta
  overflow-y: hidden

.bg-fondo
  &-1
    background-image: url("../assets/componentes/bg-1.png") !important
    background-position: top
  &-2
    background-image: url("../assets/componentes/bg-2.png") !important
    background-position: top
  &-3
    background-image: url("../assets/componentes/bg-3.png") !important
    background-position: top

.bg-rojo
  background-color: #FFE4E0
.bg-rojo-claro
  background-color: #FFF2ED
.bg-rojo-2
  background-color: #E31D1D
.bg-amarillo
  background-color: #F8F4EC
.bg-amarillo-oscuro
  background-color: #FFF3CB

.bg-amarillo-2
  background-color: #F1EADA
.bg-amarillo-3
  background-color: #FDEDC9
.bg-amarillo-3-claro
  background-color: #FEF9EC

.bg-azul
  background-color: #E1FBFA

.bg-azul-2
  background-color: #458FE8

.bg-gris
  background-color: #F3F3F3

.bg-verde-oscuro
  background-color: #3D8380 !important
.bg-verde-claro
  background-color: #EFFDFC !important

.border-bottom
  border-bottom: 1px solid #D9D9D9

// ACORDEON
.acordion__header
  background-color: #F8F4EC !important
  i
	  font-weight: 600 !important
  h4
    font-weight: 400 !important
.acordion__contenido
  background-color: #F8F4EC !important  
.acordion__header--active
  background-color: #DECBA5!important
  h4, i
    font-weight: bold !important